server:
  port: 8080

logging:
  level:
    root: INFO
    com.aje.salesforce: DEBUG
    org.springframework.web: DEBUG
    org.springframework.cache: DEBUG
    io.netty: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

salesforce:
  login-url: https://ajegroup--full.sandbox.my.salesforce.com
  timeout: 30
