server:
  port: 8080

logging:
  level:
    root: INFO
    com.aje.salesforce: INFO
    org.springframework.web: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: when-authorized

salesforce:
  login-url: https://ajegroup--full.sandbox.my.salesforce.com
  timeout: 30
